fastapi
uvicorn[standard]
langchain
langchain-community
httpx
pytest
SQLAlchemy
python-jose[cryptography]
python-multipart
bcrypt
huggingface-hub
qdrant-client>=1.7.0
fastembed
pydantic-settings
psycopg2-binary
alembic
sentence-transformers
